echo "[-] "loading autoexec.cfg..."

########## EDIT ALL OF THE BINDS YOURSELF! ##########

bind "X_AXIS" "rightleft"
bind "Y_AXIS" "!forwardback"
bind "MOUSE_X" "yaw"
bind "MOUSE_Y" "pitch"
bind "U_AXIS" "yaw"
bind "R_AXIS" "pitch"

bind "1" "slot1"
bind "2" "slot2"
bind "3" "slot3"
bind "4" "slot4"
bind "5" "slot5"
bind "a" "+left;clearall"
bind "b" "buymenu"
bind "c" "slot7"
bind "d" "+right;clearall"
bind "e" "+use"
bind "f" "+lookatweapon"
bind "g" "drop"
bind "m" "teammenu"
bind "n" "noclip"
bind "q" "lastinv"
bind "r" "+reload"
bind "s" "+back;clearall"
bind "t" "+spray_menu"
bind "u" "messagemode2"
bind "w" "+forward;clearall"
bind "x" "slot8"
bind "y" "messagemode"
bind "z" "slot10"
bind "`" "toggleconsole"
bind "SPACE" "+jump"
bind "TAB" "+showscores"
bind "CAPSLOCK" "toggle cl_radar_scale 0.8 0.35"
bind "ESCAPE" "cancelselect"
bind "shift" "+sprint;clearall"
bind "CTRL" "+duck"
bind "MOUSE1" "+attack"
bind "MOUSE2" "+attack2"
bind "MOUSE3" "player_ping"
bind "MOUSE5" "+voicerecord"
bind "MWHEELUP" "+jump"
bind "MWHEELDOWN" "+jump"

bind "c" "slot7; clear; clearall; clear_bombs"

// jumpthrow
 
alias revert "bind mouse_x yaw"
alias combo "-jump;revert"
alias +jumpthrow "+jump"
alias -jumpthrow "-attack; bind mouse_x combo"

bind alt +jumpthrow

// check nades
 
bind l "sv_rethrow_last_grenade"


// bomb drop
alias "+bomb" "slot5"; alias "-bomb" "drop"
bind "V" "+bomb"

########## PUT CUSTOM VALUES HERE ##########

fps_max 999


########## WARMUP ALIAS ##########
 
alias "warmup" "bot_kick; sv_grenade_trajectory_prac_pipreview 1; sv_grenade_trajectory_prac_trailtime 4; mp_buy_anywhere 1; mp_freezetime 0; mp_ignore_round_win_conditions 1; mp_buytime 99999; mp_startmoney 60000; mp_maxmoney 60000; ; ammo_grenade_limit_total 6; mp_warmup_pausetimer 1; mp_warmup_start; sv_cheats 1; sv_infinite_ammo 1;"
host_writeconfig

########## DON'T EDIT ##########

r_drawtracers_firstperson true
r_show_build_info false
engine_low_latency_sleep_after_client_tick true
net_client_steamdatagram_enable_override 1
rate 786432
snd_mixahead 0.001


voice_mixer_volume 0.95

echo "[+] "autoexec.cfg loaded"
